<div class="col-2">
    <div>
        <img src="{{ site.url }}/assets/images/{{page.title}}/take-away/smiley.svg" class="icon">
        <h3>Things that went well</h3>
        {{include.went_well}}
    </div>
    <div>
        <img src="{{ site.url }}/assets/images/{{page.title}}/take-away/reload.svg" class="icon">
        <h3>Things I would have doen differently</h3>
        {{include.differently}}
    </div>
    <div>
        <img src="{{ site.url }}/assets/images/{{page.title}}/take-away/thumb-down.svg" class="icon">
        <h3>What I found difficult</h3>
        {{include.difficult}}
    </div>
    <div>
        <img src="{{ site.url }}/assets/images/{{page.title}}/take-away/thumb-up.svg" class="icon">
        <h3>What I enjoy more and why?</h3>
        {{include.enjoyed}}
    </div>
    <div>
        <img src="{{ site.url }}/assets/images/{{page.title}}/take-away/telescope.svg" class="icon">
        <h3>Project Overview</h3>
        {{include.project_overview}}
    </div>
    <div>
        <img src="{{ site.url }}/assets/images/{{page.title}}/take-away/next-step.svg" class="icon">
        <h3>Next Steps</h3>
        {{include.next_step}}
    </div>
</div>
<div style="text-align: center; margin: auto">
    <h3>Thank you for reading.</h3>
</div>
<div class="spacer"></div>