<footer>
    <div class="wrapper">
        <div>
                Copyright © 2021 Olga Torrents
        </div>
        <div class="logo">
            <img src="{{ site.url }}/assets/images/ots-lg-logo-white.svg" alt="" class="home-logo">
        </div>
        <div>
            <a href="https://www.linkedin.com/in/olgatorrents/" class="link">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    </div>
    <p style="font-size: .75em;">Made with ❤️ by 🐈</p>
</footer>