 <div class="navbar-theme-{{ page.title }}">
  <nav class="site-header">
    <a href="{{ site.url }}/">
      <img src="{{ site.url }}/assets/images/ots-lg-logo-{{page.navbar-theme}}.svg" alt="" class="home-logo">
    </a>
    <div class="navbar-item-section">
      <div class="dropdown item">
        <button>Study Cases <img src="{{ site.url }}/assets/images/chevron-down-{{page.navbar-theme}}.svg" alt=""></button>
        <div class="content">
          <!-- {% for study_case in site.study_cases reverse%}
            <a href="{{ study_case.url | relative_url}}">{{ study_case.title }}</a>
          {% endfor %} -->
          <a href="{{site.url}}/ifly">ifly</a>
        </div>
      </div>
      {% for item in site.data.navigation %}
      <a href="{%if item.link.starts_with?(http)%}{{ site.url }}{% endif %}{{ item.link }}" class="item {% if page.url == item.link %}current {% endif %}">
        {% if item.image %}
          <img src="{{ site.url }}/assets/images/{{ item.image }}-{{page.navbar-theme}}.svg" alt="{{ item.image }}">      
        {% else %}
          {{ item.name }}
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </nav>
  
</div>
