<linebreak class="spacer"></linebreak>
<div class="heading">
    <h1>Ideate</h1>
    <p>
        Generating Ideas
    </p>
</div>
{%if include.has_flowchart%}
{%include case_study/content/{{page.title}}/flowchart.md%}
{%endif%}
{%include case_study/content/{{page.title}}/low_fidelity.md%}
{%include case_study/content/{{page.title}}/medium_fidelity.md%}
{%if include.has_design_system%}
{%include case_study/content/{{page.title}}/design_system.md%}
{%endif%}
{%include case_study/content/{{page.title}}/high_fidelity.md%}
{%if include.has_delivery%}
{%include case_study/content/{{page.title}}/delivery.md%}
{%endif%}
