.home-animation{
    $lg-image:135px;
    $sm-image:105px;
    width: 100%;
    height: 500px;
    img {
        position: relative;
        height: auto;
        
    }

    .center {
        z-index: 1;
        width: $sm-image;
        left: 35%;
        top: 35%;
    }

    .research {
        width:$lg-image;
        animation: top-left 1s ease;
        top: 0%; left: 0%;
    }

    .usability {
        width: $lg-image;
        top: 75%;
        right: 35%;
        animation: bottom-left 1s ease;

    }

    .test {
        width: $sm-image;
        top: 70%; left: 5%;
        animation: bottom-right 1s ease;
    }

    .process {
        width: $lg-image;
        top: -5%;
        left: 75%;
        animation: top-right 1s ease;
    }
    @keyframes top-left {
        0% { top:  35%; left: 15%; }
        100% { top: 0%; left: 0%; }
      }

      @keyframes bottom-left {
        0% { top:  35%; left: -10%; }
        100% { top: 75%; left: -35%; }
    }

    @keyframes bottom-right {
        0% { top:  35%; left: -25%; }
        100% { top: 70%; left: 5%; }
    }

    @keyframes top-right {
        0% { top:  35%; left: 35%; }
        100% { top: -5%; left: 75%; }
    }
}


.fade-in {
    animation: fade-in 1.5s ease;
    position: relative;
    top: -10%;
}

@keyframes fade-in {
    0%{
        top: 20%;
        opacity: 0%;
    }

    100% {
        top: -10%;
        opacity: 100%;
    }
}