@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 1.5em;
    margin: 0%;
    color: $base-font-color;
    background: $background-color;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 3em;
    line-height: 1em;
    @include media("<tablet") {
        font-size: 2em;
    }
}

// p {
//     font-style: normal;
//     font-weight: normal;
//     font-size: 21px;
//     line-height: 31px;
// }

// h2 {
//     font-style: normal;
//     font-weight: 800;
//     font-size: 2.6em;
//     line-height: 67px;
// }

// h3 {
//     font-style: normal;
//     font-weight: 800;
//     font-size: 1.28;
//     line-height: 35px;
// }

// .hero {
//     position: relative;
//     height: 100%;
//     width: 100%;
//     img {
//         // position: relative;
//         width: 100%;
//         height: 100%;
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: cover;
//         // background-size:100% 100%;

//     }

// //     .hero-text {
// //         position: absolute;
// //         position: absolute;
// //         top: 10%;
// //         margin: $site-wide-margin;
// //         width: 45%;
// //     }
// }

.spacer {
    margin: 4em;
}