@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');
:root {
    --ratio: 1.2;
    --base: 1;
    --base-em: calc(var(--base) * 1em);
    --base-px: calc(var(--base) * 14px);
}

:root {
    --ms0: 1;
    --ms1: var(--ratio);                    /* 1.2   */
    --ms2: calc(var(--ratio) * var(--ms1)); /* 1.44  */
    --ms3: calc(var(--ratio) * var(--ms2)); /* 1.728 */
    --ms4: calc(var(--ratio) * var(--ms3)); /* 2.074 */
    --ms5: calc(var(--ratio) * var(--ms4)); /* 2.488 */
    --ms6: calc(var(--ratio) * var(--ms5)); /* 2.986 */
    --ms7: calc(var(--ratio) * var(--ms6)); /* 3.583 */
}


html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(var(--base-px) * var(--ms0));
    line-height: calc(var(--base) * var(--ms2));
    margin: 0;
    color: $base-font-color;
    background: $background-color;
}

.spacer {
    margin: 4em;
}

h6 { font-size: calc(var(--base-px) / var(--ms1)); }
h5 { font-size: calc(var(--base-px) * var(--ms0)); }
h4 { font-size: calc(var(--base-px) * var(--ms1)); }
h3 { font-size: calc(var(--base-px) * var(--ms2)); }
h2 {
    font-size: calc(var(--base-px) * var(--ms3));
    line-height: calc(var(--base) * var(--ms1));
}
h1 {
    font-size: calc(var(--base-px) * var(--ms6));
    line-height: calc(var(--base) * var(--ms0));
}



p, ul, ol {
    font-size: 1em;
    line-height: 1.6em;
}

ul{
    padding-inline: 20px;
}

ol {
    padding-inline: 0;
    li {
        margin: 1em 0;
    }
}

.scroll-to-top-button {
    position: fixed;
    right: 10vw;
    bottom: 5vh;
    z-index: 1000;
    img {
        width: 3em;
        height: auto;
    }
}