@mixin column($primary-color, $accent-color, $tertiary-color) {

    display: grid;
    gap: 5em;
    justify-content: center;

    .thumbnail {
        img {
            width: 100%;
            height: auto;
            border-radius: 2%;
            display: block;
        }
        position: relative;
        width: 100%;
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #FFFEFC;
        }

        &:hover .overlay {
            opacity: .75;
        }
        .text {
            text-decoration: none;
            color: $base-font-color;
            font-size: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    margin: 10vh auto;

    .list-box {
        background-color: $base-theme-light-color;
        padding: 2em 2em;
        border-radius: 8px;
        h4 {
            font-weight: 800;
            font-size: 23px;
            margin: 0 0;
            margin-bottom: 0.5em;
        }

        .subheading {
            font-weight: 800;
            font-size: 1em;
            letter-spacing: 0.8px;
            color: $accent-color;
        }

        ul {
            font-size: 1em;
        }
    }
    
}