footer {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
    color: #767A7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.7px;
    margin: 3em 3em;
    img {
        width: 30px;
        height: auto;
    }
}

