@mixin hero {
    position: relative;
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    @include media(">=tablet") {
        grid-template-columns: minmax(25ch, 55ch);
    }

    @include media("<tablet") {
        grid-template-columns:  minmax(25ch, 55ch);
    }
    
    .hero-text {
        @include media(">=tablet") {
            margin: auto 6em

        }
    
        @include media("<tablet") {
            margin: auto 1em;
        }
        width: 40vw;
    }
}

.hero-ifly {
    @include hero;
    background: $hero-ifly-image no-repeat center center fixed;
    object-fit: fill;
}