@mixin hero {
    position: relative;
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: grid;
    @include media(">=tablet") {
        grid-template-columns: minmax(25ch, 55ch);
    }

    @include media("<tablet") {
        grid-template-columns:  minmax(25ch, 55ch);
    }
    
    .hero-text {
        @include media("<1400px", ">tablet") {
            h1 {
                font-size: 6vw;
                margin: 0;
                text-transform: capitalize;
            }
            h2 {
                font-size: 5vw;
            }
            margin: 20vw 20vw;
            width: max-content;
            max-width: 50ch;
        }

        @include media(">=1440px") {
            h1 {
                font-size:5vw;
                margin: 0;
                text-transform: capitalize;
            }
            max-width: 70ch;
            h2 {
                font-size: 2vw;
            }
            margin: 20vw 20vw;
            width: max-content;
            // max-width: 70ch;
        }
    
        @include media("<=1024px") {
            h1 {
                font-size: 15vw;
                text-transform: capitalize;
            }
            h2 {
                font-size: 5vw;
            }
            width: max-content;
            max-width: 25ch;
            margin: auto 10vw;
        }

        .subscript {
            color: $ifly-theme-color;
        }
        
    }
}

.hero-ifly {
    @include hero;
    background: $hero-ifly-image no-repeat center center fixed;
    background-size: auto 100vh;
    object-fit: fill;
}

.hero-blink {
    @include hero;
    background: $hero-blink-image no-repeat center center fixed;
    background-size: auto 100vh;
    object-fit: fill;
}