@mixin element-display {
    display: grid;

    img { 
        width: 100%;
        height: auto;
        display: block;
        border-radius: 2%;
    }

    .thumbnail {
        position: relative;
        width: 100%;

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #FFFEFC;
        }

        &:hover .overlay {
            opacity: .75;
        }
        .text {
            text-decoration: none;
            color: $base-font-color;
            font-size: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }
    }

    .heading {
        h1 {
            font-weight: 800;
        }

        p {
            font-size: 21px;
        }
    }

    .list-box {
        $content-margin: 1rem ;

        background: #F6F7FB;
        border: 2px solid $ifly-theme-color;
        box-sizing: border-box;
        border-radius: 8px;

        h4 {
            margin: $content-margin;
            font-style: normal;
            font-weight: 800;
            font-size: 23px;
            line-height: 31px;
        }

        .subheading {
            margin: $content-margin;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            /* or 100% */
            color: $ifly-theme-color;
        }
        ul {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #767A7F;
        }
    }

    .list-paragragh {
        h3 {
            padding-left: 1rem;
            border-left: $ifly-theme-color 2px solid;
            margin-bottom: 0%;
        }
        p {
            padding-left: 1rem;;
        }
        
        // display: inline-flex;

    }

}
.container {
    margin: $site-wide-margin;
    .col-2 {
        @include element-display;
        grid-template-columns: minmax(min-content, 1fr) 1fr;
        grid-gap: 34px;
    }

    // .col-1-sm {
    //     @include element-display()
    //     @media screen and (max-width: 900px) {
            
    //     }
    // }

    .col-4 {
        @include element-display;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 34px;

    }

    .section-with-subheading {
        margin: 3em 0%;
        h2 {
            margin-bottom: 0.25em;
        }
        .subheading {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            display: inline-flex;
        }

        .tools-img {
            margin: 1rem 0%;
            width: 77px;
        }

        .title {
            border-bottom: 1px solid $base-font-color;
            padding-bottom: 2px;
        }

        .ancillary-text {
            color: #344454;
        }
    }

    .text-content {
        h5 {
            margin-bottom: 0%;
        }
        p, dd{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #344454;
        }

        dd {
            &::marker {
                color: $ifly-theme-color;
            }
            display: list-item;
            list-style: "★";
            padding-inline-start: 1ch;
        }
    }
}


