@mixin container($primary-color, $accent-color, $tertiary-color) {
    align-content: center;
    max-width: 1440px;
    min-width: min-content;
    margin-left: auto;
    margin-right: auto;

    @include media("<desktop") {
        margin: 5em 1em;
    }

    .col-2 {
        @include column($primary-color, $accent-color, $tertiary-color);
        $minmax-content: minmax(25ch, 55ch);
        grid-template-columns: 60ch 60ch;
        gap: 5em;
        @include media("<tablet") {
            grid-template-columns: $minmax-content;
        }
    }

    .col-3 {
        @include column($primary-color, $accent-color, $tertiary-color);
        grid-template-columns: repeat(3, 40ch);
        gap: 2em;
        @include media("<tablet") {
            grid-template-columns: 1fr;
        }
    }

    .col-4 {
        @include column($primary-color, $accent-color, $tertiary-color);
        $minmax-content: 32ch;
        grid-template-columns: repeat(4, $minmax-content);
        gap: 1em;
        @include media("<=tablet") {
            grid-template-columns: repeat(2, $minmax-content);
        }
        @include media("<tablet") {
            grid-template-columns: $minmax-content;
        }
    }

    .heading {
        text-align: center;

        margin-left: auto;
        margin-right: auto;
        p {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            max-width: 70ch;
            min-width: 40ch;
            font-size: 1em;
        }
    }

    .col-2-uneven {
        @include column($primary-color, $accent-color, $tertiary-color);
        grid-template-columns: 30ch 90ch;
        @include media("<tablet") {
            grid-template-columns: 1fr;
        }
        img {
            margin: auto;
        }
        align-items: center;
    }

    .col-2-wip {
        // @include column;
        display: grid;
        // gap: a;
        grid-template-columns: 1fr 30ch 1fr;
        // @include media("<tablet") {
        //     grid-template-columns: 1fr;
        // }
        h2, p, a {
            text-align: center;

        }
        img {
            margin: auto 0;
            margin-left: auto;
        }
        align-items: center;
        a {
            text-align: center;
            margin: auto;
            display: block;
        }
    }

    .col-2-btn {
        display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    grid-gap: 2em;
    margin: auto;
    }
}