@mixin navbar-item-margin {

    @include media("<=tablet") {
        margin: auto;
    }

}
@mixin navbar($font-color:$base-font-color) {
    .site-header {
        @include navbar-item-margin;
        display: flex;
        @include media("<=1440px") {
            // margin: 1em;
            max-width: 1280px;
            .hero-text {
                h2 {
                    width: 15ch;
                }
            }
        }
        @include media("<=1280px") {
            // margin: 1em;
            max-width: 1080px;
            .hero-text {
                h2 {
                    width: 15ch;
                }
            }
            
        }

        @include media("<=500px") {
            .hero-text {
                h1 {
                    font-size: 4em;
                }

                h2 {
                    font-size: 2em;
                }
            }
        }
        max-width: 1440px;
        margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
        .home-logo {
            float: left;
            width: 150px;
        }
        .navbar-item-section {
            display: flex;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
            img {
                vertical-align: middle;
                width: 24px;
                height: auto;
            }
            a {
                text-decoration: none;
                padding-left: 2em;
                color: $font-color;
                &:hover {
                    text-decoration: underline;
                    color: $font-color;
                }
                &:focus {
                    color: $base-theme-color;
                }
                &:visited {
                    // text-decoration: none;
                    // color: inherit;
                    color: $font-color;
                }
            }
        }
    
        .dropdown{
            overflow: hidden;
            &:hover {
                .content {
                    display: block;
                }
            }
            button {
                border: none;
                background: none;
                font-size: inherit;
                color: $font-color;
                margin: auto;
                position: relative;
                top: -10%;
            }
            .content {
                display: none;
                position: absolute;
                min-width: 160px;
                border: 2px solid $base-theme-color;
                background-color: $background-color;
                border-radius: 16px;
                // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 100;
    
                a {
                    float: none;
                    color: $base-font-color;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
    
                    &:hover{
                        text-decoration: underline;
                        color: $base-theme-color;
                        // background-color: #E6E6E6;
                        border-radius: 16px;
                    }
    
                    &:visited {
                        text-decoration: underline;
                        color: $base-font-color;
                        // background-color: #E6E6E6;
                        border-radius: 16px;
                    }
                }
            }
        }
    }
}


.navbar-theme-ifly {
    background: $ifly-theme-color;
    @include navbar(#fff)
}
.navbar-theme-Home {
    @include navbar
}
.navbar-theme-About {
    @include navbar
}
.navbar-theme-blinkin {
    background: $blink-theme-color;
    @include navbar
}

.navbar-theme-portfolio {
    background: $blink-theme-color;
    @include navbar
}

.navbar-theme-cas {
    background: $blink-theme-color;
    @include navbar
}

.navbar-theme-graphic-design {
    background: $blink-theme-color;
    @include navbar
}

.navbar-theme-ux-design {
    background: $blink-theme-color;
    @include navbar
}
