@mixin tool-card($tool-card-background-color) {
  .tool-card {
    display: block;
    background-color: $tool-card-background-color;
    padding: 1em 2em;
    margin-top: 5em;

    h6 {
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
    .tool-card-content {
      display: flex;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 1em;
      img {
        margin: initial;
        filter: initial;
      }
    }
    .tool-icon {
      height: 32px;
      width: auto;
      vertical-align: middle;

      &:nth-last-child(1) {
        padding-right: 15px;
      }
    }
  }
}

@mixin section($section-background-color, $section-background-alternative-color) {
  .section-no-theme {
    background-color: $section-background-color;
    @include tool-card($section-background-alternative-color)
  }

  .section-theme {
    background-color: $section-background-alternative-color;
    @include tool-card($section-background-color)
  }
}

@mixin diagram($background-colour) {
  background: $background-colour;
  padding: 1em;
  margin: auto;
  width: 90%;
  img {
    display: block;
    // margin: 1em auto;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: auto auto 1em;
  }
  video {
    display: block;
    width: 100%;
    margin: auto auto 1em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .description {
    // margin: 1em 0;
    color: $base-font-light-color;
  }
  .img-col-2 {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1em;
    @include media("<desktop") {
      grid-template-columns: 1fr;
    }
  }

}

.diagram-default-light {
  @include diagram($background-color)
}

.diagram-default {
  @include diagram(initial);

}


@mixin image-display($backgound-color:$background-color) {

  img {
    background-color: $backgound-color;
    padding: 20px;
    width: 100%;
    height: auto;
    // &:nth-child(even) {
    // margin-top: 50px;
    // margin-bottom: 50px;
    // }
  }
}

.default-image-display {
  @include image-display
}

.resize-gif {
  height: 500px !important;
  width: auto !important;
  margin: auto !important;
  display: block;
}

@mixin theme($primary-color, $accent-color, $tertiary-color, $light-color) {
  .accent-image-display {
    @include image-display($accent-color)
  }

  .theme-image-display {
    @include image-display($primary-color)
  }
  .tertiary-image-display {
    @include image-display($tertiary-color)
  }
  .light-image-display {
    @include image-display($blink-theme-color)
  }

  .diagram-light {
    @include diagram($light-color)
  }
  .summary-point {
    .icon {
      width: 43px;
      height: auto;
      display: block;
    }
  }

  linebreak {
    border: #000000 solid 1px;
    width: 100%;
    display: block;
  }

  .line-margin {
    margin-top: 5em;
  }
  .tools {
    display: flex;
    align-items: center;

    img {
      height: 32px;
      width: auto;
      //padding-right: 5px;
      vertical-align: middle;

      &:nth-last-child(1) {
        padding-right: 5px;
      }
    }

  }

  .external-link {
    color: $accent-color;
    font-size: 16px;

    &::after {
      content: "-->";
    }
  }

  .main-image {
    width: 100%;
    height: auto;
  }

  .persona_text {
    text-align: left;
    p {
      text-align: left !important;
    }
  }
  .default-height {
    height: 25vh !important;
  }
  .user-quote-section {
    background: $base-theme-light-color;
    padding: 2em;
    margin: auto;
    height: 20vh;

    .user-quote-heading {
      display: block;
      h1 {
        text-align: center;
      }
      img {
        display: block;
        margin: auto;
      }

      .quote-heading-text {
        text-align: center;

        span {
          display: block;
          margin: .5em 0;
        }
      }
    }
  }

  .point-view {
    p {
      font-size: 1.25em !important;
      max-width: 60ch !important;
    }
  }
  .video-img-display {
    margin: auto;

    video {
      // width: 100%;
      // height: auto;
      margin: 1em 0;
    }

    img {
      width: 100%;
      height: auto;
      margin: 1em 0;
    }
  }

  .long-video {
    height: 500px;
    margin: auto;
  }

  .section-break-img {
    width: 100%;
    height: auto;
    margin: 1em 0;
    margin: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .img-section {
    display: block;
    margin: auto;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  ol {
    list-style: none;
    counter-reset: list-counter;

    li {
      counter-increment: list-counter;
      display: flex;

      &::before {
        content: counter(list-counter) ". ";
        padding-right: 1em;
        color: $primary-color;
      }
    }
  }

  .conclusion-col-2 {
    background: $base-theme-light-color;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    @include media("<desktop") {
      grid-template-columns: 1fr;
    }

    b {
      color: $primary-color;
    }

    border-radius: 8px;
    padding: 1em;
    vertical-align: middle;

    img {
      width: 100%;
      margin: auto;
      border-radius: 8px;
    }
  }

  .about-profile {
    padding: 30px;
    margin: auto;

    .profile-image {
      width: 100%;
      height: auto;
      margin-bottom: 1em;
    }

    img {
      display: block;
      margin: auto;
    }

  }

  .btn-link {
    display: flex;
    height: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    align-content: center;
    font-weight: 600;
    background-color: #333;
    border: #333 4px solid;
    padding: 10px 40px;
    border-radius: 6px;
    font-size: 16px;
    width: max-content;
    min-width: 140px;
    color: #FFF;

    i {
      margin-right: 1em;
    }

    // TODO remove this class
    img {
      width: 12px;
      height: auto;
      padding-right: 5px;
    }

    &:visited {
      color: #FFF;
    }

    &:hover {
      background-color: #fff;
      color: #333;
    }

    &:active {
      background-color: #fff;
      border: #828282 4px solid;
      color: #828282;
    }
  }


  .washed-out {
    background: rgba($color: $tertiary-color, $alpha: 0.7) !important;

    h4, li {
      color: rgba($color: $base-font-color, $alpha: .70);
    }

    .subheading {
      color: rgba($color: $primary-color, $alpha: 0.7);
    }
  }

  .home {
    height: 80vh;
    margin: auto;
    display: grid;
  }


  .img-box {
    width: 100%;
    border-radius: 8px;
    // height: 754px;
    margin: auto;
  }

  .usability-image-section {
    img {
      margin: 36px 0;
    }
  }
}

// TODO Fix this css
.lightbox {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba($color: $blink-theme-color, $alpha: 0.75);

  .close {
    color: #333;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;

    &:hover, &:focus {
      color: #333;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .lightbox-display {
    margin: auto;

    img {
      width: 100%;
      height: auto;
      padding: 30px;
    }
  }
}

.design-process-img {
  width: 80vw;
  display: block;
  margin: 7.5em auto;
}

.ifly-container {
  @include theme($ifly-accent-color, $ifly-theme-color, $ifly-tertiary-color, $ifly-light-color);
  @include container($ifly-theme-color, $ifly-accent-color, $ifly-tertiary-color);
  @include swiper($blink-theme-color);

  .theme-background {
    background-color: $blink-theme-color;
  }

  @include section($background-color, $blink-theme-color);
}

.blinkin-container {
  @include theme($blink-theme-color, $blink-accent-color, $blink-tertiary-color, $blink-light-color);
  @include container($blink-theme-color, $blink-accent-color, $blink-accent-color);
  @include swiper($blink-theme-color);
  @include section($background-color, $blink-theme-color);

  .theme-background {
    background-color: $blink-theme-color;
  }

  .about-cartoon {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
  }
}

.portfolio-container {
  @include theme($blink-theme-color, $blink-accent-color, $blink-tertiary-color, $blink-light-color);
  @include container($blink-theme-color, $blink-accent-color, $blink-accent-color);
  @include swiper($blink-theme-color);
  @include section($background-color, $blink-theme-color);

  .theme-background {
    background-color: $blink-theme-color;
  }

  .about-cartoon {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
  }
}

.cas-container {
  @include theme($blink-theme-color, $blink-accent-color, $blink-tertiary-color, $blink-light-color);
  @include container($blink-theme-color, $blink-accent-color, $blink-accent-color);
  @include swiper($blink-theme-color);
  @include section($background-color, $blink-theme-color);

  .theme-background {
    background-color: $blink-theme-color;
  }

  .about-cartoon {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
  }
}

.container {
  @include theme($blink-theme-color, $blink-accent-color, $blink-tertiary-color, $blink-light-color);
  @include container($base-theme-color, $base-theme-light-color, $base-theme-light-color);
  @include section($background-color, $blink-theme-color);
}

.about-container {
  @include theme($blink-theme-color, $blink-accent-color, $blink-tertiary-color, $blink-light-color);
  @include container($base-theme-color, $base-theme-light-color, $base-theme-light-color);

  .col-2 {
    margin: auto;
  }

  .col-4 {
    margin: auto;
  }

  .get-intouch-section {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .child {
      margin: 4em auto;
      text-align: center;

      a {
        margin: auto;
      }

      div {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
  }
}

.background-colour {
  background-color: $blink-theme-color;
  width: 100vw;
  max-width: initial;
}
.image-padding {
  padding: 1em;
}