.summary-point {
    .icon {
        width: 43px;
        height: auto;
        display: block;
    }
}


.subheading {
    color: $ifly-theme-color;
}

linebreak {
    border: $base-line-color solid 1px;
    width: 100%;
    display: block;
}
.tools {
    display: flex;
   align-items:center;

   img{
       height: 32px;
       width: auto;
       padding-right: 5px;
   }
}

.diagram {
    background: $ifly-tertiary;
    border-radius: 8px;
    padding: 1em;
    margin: auto;
    img {
        display: block;
        // margin: 1em auto;
        width: 100%;
    }
    video {
        display: block;
        width: 100%;
        border-radius: 8px;
        margin-top: 1em;
    }
    .description {
        // margin: 1em 0;
        color: $base-font-light-color;
    }
    a {
        margin-top: 2em;
        margin-bottom: 1em;
        display: block;
        color: $ifly-theme-color;
        &::after {
            content: "-->";
        }
    }
    .img-col-2 {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1em;
        @include media("<desktop") {
            grid-template-columns: 1fr;
        }
    }

}

.main-image {
    width: 100%;
    height: auto;
}

.notetaking {
    background-color: initial;
}

.user-quote-section{
    background: $ifly-tertiary;
    border-radius: 8px;
    padding: 1em;
    .user-quote-heading {
        display: flex;
        align-items:center;
        .quote-heading-text {
            span {
                display: block;
            }
        }
    }
}

.video-img-display {
    margin: auto;
    video {
        // width: 100%;
        border-radius: 8px;
        // height: auto;
        margin: 1em 0;
    }
    img {
        width: 100%;
        height: auto;
        margin: 1em 0;
    }
}

.long-video {
    height: 500px; 
    margin: auto;
    border-radius: 8px;
}

.section-break-img {
    width: 100%;
    height: auto;
    margin: 1em 0;
    border-radius: 8px;
}

ol {
    list-style: none;
    counter-reset: list-counter;
    li {
        counter-increment: list-counter;
        display: flex;
        &::before {
            content: counter(list-counter) ". ";
            padding-right: 1em;
            color: $ifly-theme-color;
        }
    }
}

.conclusion-col-2 {
    background: $ifly-tertiary;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    @include media("<desktop") {
        grid-template-columns: 1fr;
    }
    b {
        color: $ifly-theme-color;
    }
    border-radius: 8px;
    padding: 1em;
    vertical-align: middle;
    img {
        width: 100%;
        margin: auto;
        border-radius: 8px;
    }
}

.about-profile {
    padding: 30px;
    background-color: #D7F3E6;
    border-radius: 8px;
    .profile-image {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }
    img {
        display: block;
        margin: auto;
    }
    
}

.btn-link {
    display: flex;
    height: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    align-content: center;
    font-weight: 600;
    background-color: $ifly-theme-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 6px;
    font-size: 16px;
    width: 140px;
    color: inherit;
    img {
        width: 24px;
        height: auto;
        margin-top: 3%;
        padding-right: 5px;
    }
    &:visited {
        color: inherit;
    }
    &:active {
        background-color: #ffa6a1;
    }
}

.lightbox {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($color: $ifly-tertiary, $alpha: 0.90);
    .close {
        color: silver;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        &:hover, &:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;          
        }
      }
    .lightbox-display {
        margin: auto;
        img {
            width: 100%;
            height: auto;
            padding: 30px;
        }
    }
}

.washed-out {
    background: rgba($color: $ifly-tertiary, $alpha: 0.7) !important;
    h4, li {
        color: rgba($color: $base-font-color, $alpha: .70);
    }

    .subheading {
        color: rgba($color: $ifly-theme-color, $alpha: 0.7) !important;
    }
}

.home {
    height: 80vh;
    margin: auto;
    display: grid;
}