$base-font-color: #1A222B;
$base-font-light-color: #767A7F;
$background-color: #FFFFFF;
$base-theme-color: #9D83FF;
$base-line-color: #F2F2F2;
// $site-wide-margin: 3em 3em;


$ifly-theme-color:  #FF8179;
$ifly-tertiary: #F8F6F3;
$ifly-link-color: #344454;
