$base-font-color: #333333;
$base-font-light-color: #767A7F;
$background-color: #FFFFFF;
$base-theme-color: #FF8179;
$base-theme-light-color: #F8F6F3;
$base-line-color: #F2F2F2;
// $site-wide-margin: 3em 3em;


$ifly-theme-color:  #699BF7;
$ifly-accent-color: #1A6AFF;
$ifly-light-color: #D7E2FF;
$ifly-tertiary-color: #FABD63;
$ifly-link-color: #344454;

$blink-theme-color: #F8F6F3;
$blink-accent-color: #FF8179;
$blink-tertiary-color: #F8F6F3;
$blink-light-color: #F8F6F3;