<div class="col-2 {%if include.is_themed_section%}section-theme{%else%}section-no-theme{%endif%}">
    <div class="content">
        <h2>{{include.title}}</h2>
        {{include.content | markdownify}}
    </div>
    <div class="diagram-default media-asset">
        {%if include.slide_show_imgs%}
            {%if include.interactive_slide_show%}
		        {%assign slides_data=include.interactive_slide_show | split: "|" %}
                <div class="swiper card-swiper">
                    <div class="swiper-wrapper">
                    {%for slide_data in slides_data%}
                        <div class="swiper-slide">
                            {%assign xs=slide_data | split: ","%}
			                {%assign slide_img_ids=xs[0] | split: "-" %}
			                {%assign slide_link_text=xs[1]%}
			                {%assign slide_link_uri=xs[2]%}
                            <div class="slide {%if include.is_themed_section%}section-no-theme{%else%}section-theme{%endif%} ">
                                {%assign slide_img_ids_size=slide_img_ids | size%}
                                <div class="{%if slide_img_ids_size >= 2%} img-grid {%endif%}">
                                {%for id in slide_img_ids%}
                                <img src="{{ site.url }}/assets/images/{{ page.title }}/{{include.slide_show_imgs}}{{id}}.{{include.slide_show_ext}}">
                                {%endfor%}
                                </div>
                                {%if slide_link_uri%}
                                <a href="{{slide_link_uri}}" class="external-link">{{slide_link_text}}</a>
                                {%endif%}
                            </div>
                        </div>
                    {%endfor%}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
        {%else%}
                {%assign img_range = include.slide_show_img_range | split: "," %}
                <div class="swiper autoplay-swiper">
                    <div class="swiper-wrapper">
                    {% for i in (img_range[0]..img_range[1]) %}
                        <div class="swiper-slide">
                            <img src="{{ site.url }}/assets/images/{{ page.title }}/{{include.slide_show_imgs}}{{i}}.{{include.slide_show_ext}}">
                        </div>
                    {% endfor%}
                    </div>
                </div>
            {%endif%}
        {%elsif include.diagram_img%}
        <div>
        <img src="{{ site.url }}/assets/images/{{ page.title }}/{{include.diagram_img}}">
        </div>
    {%endif%}
        {%if include.external_link_description%}
        <a  class="external-link" href="{{include.external_link_uri}}" target="_blank">{{include.external_link_description}}</a>
        {%endif%}
        <div class="tool-card">
            <h6>
                Why I used this tool:
            </h6>
            {%assign tools=include.tools | split: ","%}
            {%assign tools_explanations = include.tools_explanations | split: "|"%}
            {%assign range_bound=tools.size | minus: 1%}
            {%for i in (0..range_bound)%}
            <div class="tool-card-content">
                <img class="tool-icon" src="{{ site.url }}/assets/images/common/tools/{{tools[i] | downcase | replace : ' ', '_'}}.svg" alt="">
                {{tools[i]}}: {{tools_explanations[i] | strip}}
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="additional-content">
        {%if include.survey_section_quote%}
        <div class="heading {%if include.is_themed_section%}section-theme{%else%}section-no-theme{%endif%}">
            <h2>What the users said</h2>
            <h3>{{include.survey_section_quote | strip}}</h3>
        </div>
        {%endif%}
        <div class="col-3" style="margin-top: initial">
            {%assign survey_answers=include.survey_answers | split: "|"%}
            {%assign survey_titles=include.survey_titles | split: "|"%}
            {%assign survey_subtexts=include.survey_subtexts | split: "|"%}
            {%assign answer_idx=0%}
            {%for answer in survey_answers%}
            {%capture title%}
            {%if include.survey_titles%}{{survey_titles[answer_idx]}}{%else%}Survey Answer{%endif%}
            {%endcapture%}
            {%capture subtext%}
            {%if include.survey_subtexts%}{{survey_subtexts[answer_idx]}}{%endif%}
            {%endcapture%}
            {%
            include components/cards.html
            img_path="assets/images/common/online_survey/user_icon.svg"
            title=title
            title_size="h2"
            sub_text=subtext
            content=answer
            background_colour="#FFFFFF"
            %}
            {%assign answer_idx=answer_idx | plus: 1%}
            {%endfor%}
        </div>
    </div>

</div>
