---
title: blinkin
permalink: /blink/
layout: study_case
navbar-theme: black

description:
    headline: "How can we optimise the search filters process using customisation?"
---
<div class="spacing"></div>
<div class="blinkin-container">
    <div data-aos="fade-up" class="heading">
        <h1>Project Overview</h1>
    </div>
    <div class="col-4">
        <div>
            <p>
                Project By
            </p>
            <linebreak></linebreak>
            <p>
                Self project
            </p>
        </div>
        <div>
            <p>
                My Role
            </p>
            <linebreak></linebreak>
            <p>
                UX Designer/ UX Research
            </p>
        </div>
        <div>
            <p>
                Duration
            </p>
            <linebreak></linebreak>
            <p>
                6 weeks
            </p>
        </div>
        <div>
            <p>
                Key tools
            </p>
            <linebreak></linebreak>
            <p>
                Miro - Figma
            </p>
        </div>
    </div>
    <div data-aos="fade-up" data-aos="fade-up" class="col-2">
        <div class="summary-point">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/zap.svg" class="icon">
            <h3>The problem</h3>
            <p>
                In-line sites don´t suit the experience of each visitor with his unique needs.
            </p>
        </div>
        <div class="list-paragragh">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/gear.svg" class="icon">
            <h3>My Role</h3>
            <p>
                This case study is a personal project where I will apply new learnings from the online platform
                Interaction Design Foundations and other self-learning research. Throughout this project, I performed
                both the research and design processes.
            </p>
        </div>
        <div class="list-paragragh">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/rocket.svg" class="icon">
            <h3>The Solution</h3>
            <p>
                Provide a tool that users can deliberately choose between options designed to make the user experience
                more personal and also get better search results.
            </p>
        </div>
        <div class="list-paragragh">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/learnings.svg" class="icon">
            <h3>Learnings</h3>
            <p>
                This study case allowed to me to explore alternative techniques for applying UX design to my work.

            </p>
        </div>
    </div>
    <div class="heading">
        <h1>My design thinking process</h1>
    </div>
    <div data-aos="fade-up" class="col-4">
        <div class="list-box">
            <h4>Research</h4>
            <div class="subheading">UNDERSTAND THE PROBLEM</div>
            <ul>
                <li>Competitive benchmarking</li>
                <li>Online survey</li>
                <li>Usability testing</li>
                <li>Note-taking</li>
                <li>Journey Map</li>

            </ul>
        </div>
        <div class="list-box">
            <h4>Define</h4>
            <div class="subheading">DEFINE THE PROBLEM</div>
            <ul>
                <li>Affinity Diagram</li>
                <li>Empathy map</li>
                <li>Personas</li>
                <li>Point of view</li>
                <li>How might we?</li>
                <li>Scope</li>
            </ul>
        </div>
        <div class="list-box">
            <h4>Ideate</h4>
            <div class="subheading">GENERATE IDEAS</div>
            <ul>
                <li>Users flowchart</li>
                <li>Sketches low and medium fidelity</li>
            </ul>
        </div>
        <div class="list-box">
            <h4>Prototype</h4>
            <div class="subheading">CREATE THE SOLUTION</div>
            <ul>
                <li>High fidelity prototype</li>
                <li>My solution</li>
            </ul>
        </div>
    </div>
    <div class="heading">
        <h1>About Blinkin</h1>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h3>What is Blinkin</h3>
            <p>
                It is an e-commerce website that allows its users to consciously customize their search filter options
                to achieve a faster and more efficient user experience.
            </p>
            <p>
                Fast because they don't have to fill the filters over and over again.
                Effective because you can provide results that really align with the user's style.
            </p>
            <img src="{{site.url}}/assets/images/{{ page.title }}/e-commerce-girl.svg" alt="" class="about-cartoon">
        </div>
        <div>
            <h3>Goal</h3>
            <p>
                To deliver an efficient search experience during the purchase process.
            </p>
            <h3>Challenge</h3>
            <p>
                Create a search process effective and engaging.
            </p>
            <h3>
                Constraints
            </h3>
            <p>
                Create a solution that always give to the user the best restults that match user expectations. </p>
        </div>
    </div>
    <linebreak></linebreak>
    <div class="heading">
        <h1>Research</h1>
        <p>Understanding the problem</p>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h2>Competitive benchmarking</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/notion_figma.png" alt="notion figma logo"
                     class="tools-img-double">
                Tools: Notion - Figma
            </div>

            <p>
                As a starting point, I reviewed retail websites and I set myself the task of understanding the basics
                that are generally involved when people searching and buy online clothes..
            </p>
            <p>
                For this benchmark, I applied these measures:
            </p>
            <p>Cognitive Biases</p>
            <p>Patterns and Conventions</p>
            <p>Usability Heuristics</p>
            <h4>Findings</h4>
            <ul>
                <li>The e-commerce retail websites are about search products and apply filters in order to find what the
                    user needs.
                </li>
            </ul>
            <h4>Hypothesis</h4>
            <p>During my research, I came to realise that for a relatively simple task such as finding and buying a
                t-shirt. There are many solutions that exist across retail websites. This made me wonder how users are
                interacting with the different shopping experiences.</p>
        </div>

        <video autoplay loop muted class="section-break-img">
            <source src="{{ site.url }}/assets/video/{{ page.title }}/benchmark.mp4" type="video/mp4"/>
        </video>
    </div>
    <div data-aos="fade-up" class="col-2 theme-background">
        <div>
            <h2>Online Survey</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/typeform_miro.png" alt="notion figma logo"
                     class="tools-img-double">
                Tools: Typeform - Miro
            </div>

            <p>The first step was to define the purpose of the Survey. What I want to know to form the users and to get
                more valuable data about the user's Needs, Thoughts, Emotions, Motivations</p>
            <p>In order to get this data I was very thoughtful about how to ask the questions to get input I was looking
                for, and at the same time get quantitative and qualitative data.</p>
            <h4>Findings</h4>
            <ul>
                <li>The Users know what they are looking for on a website.</li>
                <li>The experience of searching doesn't mean anything to them</li>
                <li>They know well the process to the level that is not a challenge or a funny thing to do.</li>
                <li>They want to save time and use the tools that make the searching more fast and effective. .</li>
            </ul>
            <h4>Hypothesis</h4>
            <p>There's a lot of different opinions about the search process and the filters. But what about enjoying the
                experience?</p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/research/survey_1.png">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/research/survey_2.png">
        </div>
    </div>
    <div data-aos="fade-up" class="col-2">
        <h2>What users had to say...</h2>
    </div>
    <div data-aos="fade-up" class="col-3">
        <div class="user-quote-section">
            <div class="user-quote-heading">
                <img src="{{ site.url }}/assets/images/person.svg" class="icon">
                <div class="quote-heading-text">
                    <span>User</span>
                    <span><b>Survey Answer</b></span>
                </div>
            </div>
            <p>
                <i>
                    “Sometimes after applying the filters I don't get any results or there's no products, and I have to
                    start again.”
                </i>
            </p>
        </div>
        <div class="user-quote-section">
            <div class="user-quote-heading">
                <img src="{{ site.url }}/assets/images/person.svg" class="icon">
                <div class="quote-heading-text">
                    <span>User</span>
                    <span><b>Survey Answer</b></span>
                </div>
            </div>
            <p>
                <i>
                    “Because it helps you to limit your search ato what you are exactly looking for and save time.”
                </i>
            </p>
        </div>
        <div class="user-quote-section">
            <div class="user-quote-heading">
                <img src="{{ site.url }}/assets/images/person.svg" class="icon">
                <div class="quote-heading-text">
                    <span>User</span>
                    <span><b>Survey Answer</b></span>
                </div>
            </div>
            <p>
                <i>
                    “Well, it depends on the search. I use filters if there are too many options for a product and to
                    select a clothing size. Otherwise, I normally don't use filters”
                </i>
            </p>
        </div>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h2>Remote usability test</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/notion_zoom.png" alt="notion zoom"
                     class="tools-img-double">
                Tools: Notion - Zoom
            </div>

            <p>To understand how real people experience and engage with the sites I run Usability Testing to show me
                their experience, where I can pick up on issues and insights they weren't even I wasn't aware of.</p>
            <b>Comparative Usability Test performed on:</b>
            <p>Zalando and H&M websites</p>
            <b>Tasks to complete:</b>
            <p>Search for a T-shirt for a casual party and add it to the basket. Zalando and H&M website.</p>
            <h3>Questions</h3>
            <ul>
                <li>Is my navigational system really as intuitive as I think it is?</li>
                <li>Is my value proposition really as clear, concise and compelling as I think it is?</li>
                <li>Is my lead funnel simple and clear? Is the next step obvious and non-intimidating?</li>
            </ul>
            <h4>Hypothesis</h4>
            <p>The search bar tool provides very broad and un accurate results. Doesn't matter if the user is more
                precise in selecting the words, the results are unexpected and break the mental model and the user feels
                very confused. </p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/research/usability_test.png">
        </div>
    </div>
    <div data-aos="fade-up" class="col-2 theme-background">
        <div>

            <h2>Note taking</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/notion.png" alt="notion figma logo"
                     class="tools-img-double">
                Tools: Notion
            </div>
            <p>
                During this phase, I reviewed the usability test I recorded. My mission was take the most detailed notes
                a possible, focusing on built the user empathy detecting the:
            </p>
            <ul>
                <li>Needs, emotions, thoughts,motivations, what is said and what is done.
                </li>
                <li>
                    User goals, behaviour, pain points and mental models.
                </li>
            </ul>
            <h4>Findings</h4>
            <ul>
                <li>What they are unable to find on your site.</li>
                <li>What is missing from your site.</li>
                <li>What is unclear or vague.</li>
                <li>What is causing friction or preventing them from converting.
                </li>
            </ul>
            <h4>Hypothesis</h4>
            <p>Different search methods give very different results. By categories and filters it is the most accurate
                for the user, but also the one that consumes the most time. How can we make the search faster and more
                precise?</p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/research/note_taking.png">
        </div>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h2>Journey Map</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/miro_logo.svg" alt="miro logo"
                     class="tools-img-double">
                Tools: Miro
            </div>
            <p>The goal of this Journey map was to create a diagram that reveals exactly where the sites were helping
                visitors succeed—or letting them down.</p>
            <p>A customer journey map helps crystallize where customers get stuck or frustrated on their path to
                purchase and beyond. It’s a visual representation that synthesizes data on personas and user
                behaviour.</p>
            <p>In this step, I visualize two flows that I was able to identify during the usability testing. The journey
                maps are focus on one persona in one scenario. </p>
            <p>This map helps me to was to visualize the sequence of the events and identify the task and goals implied
                in each one. </p>
            <h4>Findings</h4>
            <p>The search tool provides more random results. As we can see in picture 2, when the user has to search
                using that tool was unable to find the products and move to another website.</p>
            <p>Besides the process is funny o enjoyable, if it's not efficient and helps the user to find the product
                and applying wisely the filters, all the process doesn't matter.</p>
            <h4>Hypothesis</h4>
            <p>If the experience does not create happiness, at least we are going to make it memorable for its
                effectiveness and simplicity.</p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/research/journey_1.png">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/research/journey_2.png">
        </div>
    </div>
    <linebreak></linebreak>
    <div class="heading">
        <h1>Define</h1>
        <p>Define the problem</p>
    </div>
    <div data-aos="fade-up" class="col-2 theme-background">
        <div>
            <h2>Empathy Map</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/miro_logo.svg" alt="miro logo"
                     class="tools-img-double">
                Tools: Miro
            </div>
            <p>Visualizing user attitudes and behaviours in an empathy map helps me to align on a deep understanding of
                end-users. The mapping process also reveals some holes in existing user data, like the actual
                feelings and user mood during the experience. </p>
            <h4>Findings</h4>
            <p>The actual online shopping process experience is not enjoyable. Users can apply a free flow, go and back
                till some external or internal drag the trill to buy. </p>
            <p>Users know well the steps, they repeat automatically.</p>
            <h4>Hypothesis</h4>
            <p>If the experience does not create happiness, at least we are going to make it memorable for its
                effectiveness and simplicity.</p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/define/empathy_map.png">
        </div>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h2>User Personas</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/miro_logo.svg" alt="miro logo"
                     class="tools-img-double">
                Tools: Miro
            </div>
            <p>Fueled by data-driven research I create a user persona representing one segment of the target audience in
                order to insights from user personas that can help improve copy, tailor targeting and inform product
                development to make informed decisions base on the persona and the research. </p>
            <h4>Findings</h4>
            <p>Understand fundamental motivations:</p>
            <p>Free shipping and free return policy.</p>
            <p>Understand fundamental concerns:</p>
            <p>The product is shipped to my country. </p>
            <h4>Hypothesis</h4>
            <p>My user persona build based on my research is focused on the free charge shipping process, and that is
                something that escapes from my control. I'm on the right direction but I need more participants.</p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/define/user_persona.png">
        </div>
    </div>
    <div data-aos="fade-up" class="col-2 theme-background">
        <div>
            <h2>Affinity Map</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/miro_logo.svg" alt="miro logo"
                     class="tools-img-double">
                Tools: Miro
            </div>
            <p>Having a good amount of data from my user research allowed me to collaborate with a friend to get to the
                root of my findings. During the affinity diagram session, we worked together to put structure on the
                large volume of qualitative data from my research.</p>
            <h4>Findings</h4>
            <p>Using images or icons helps the user to find information.
                Filters are widely used to narrow down search results.
                It is always going to offer some content to users, or they will leave when they find nothing.</p>
            <p>Searching through the toolbar provides very random results. And after that step the user will use the
                filters.</p>
            <h4>Hypothesis</h4>
            <p>
                How can we provide users with better results when looking for a product?
            </p>
        </div>
        <div class="diagram-light usability-image-section">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/define/affinity_map.gif">
        </div>
    </div>
    <div class="heading">
        <img src="{{ site.url }}/assets/images/{{ page.title }}/light_bulb.gif">
        <h1>POINT OF VIEW</h1>
        <b>Problem statement</b>
        <p>Tailor the product search experience to help the user efficiently and confidently narrow down the search
            results allowing them to find the products that suits their needs
        </p>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h2>How might we?</h2>
            <p>In order to identify topics that represent subsets of the POV before and get creative solutions, I move
                into Ideate generation stage.</p>
            <h4>Findings</h4>
            <p>The first step in a flow is mapping out how they get to your site.</p>
            <h4>Hypothesis</h4>
            <p>If the experience does not create happiness, at least we are going to make it memorable for its
                effectiveness and simplicity.</p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/pov/how_might_we.jpg">
        </div>
    </div>
    <div data-aos="fade-up" class="col-2 theme-background">
        <div>
            <h2>Scope</h2>
            <h3>My thoughts</h3>
            <p>Before the move to the Ideation stage, I put together some thoughts that resume the key concept that I
                had on my mind after all the Research and Analysis stages. </p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/pov/scope.jpg">
        </div>
    </div>
    <linebreak></linebreak>
    <div class="heading">
        <h1>Ideation</h1>
        <p>Generating ideas</p>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h2>User Flowchart</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/miro_logo.svg" alt="miro logo"
                     class="tools-img-double">
                Tools: Miro
            </div>
            <p>
                I build a User Flow that matches with the user’s needs, the goal is to map user’s paths from the users'
                entry page through the conversions funnels, toward the final actions providing value to both:
            </p>
            <b>Business Objectives:</b>
            <p>Get users to sign up, purchase products and join an email list.</p>
            <b>User objective:</b>
            <p>Find a product, get a good price and free shipping</p>
            <h4>Findings</h4>
            <p>This first step in the flow is mapping out how they get to your site</p>
            <h4>Hypothesis</h4>
            <p>
                If the experience does not create happiness, at least we are going to make it memorable for its
                effectiveness and simplicity.
            </p>
        </div>
        <div class="diagram-default">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/ideation/flow_chart.jpg">
        </div>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h2>Sketches, thinking and solutions</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/ideation/handwriting_figma.svg" alt="miro logo"
                     class="tools-img-double">
                Tools: Pen and paper / Figma
            </div>
            <p>With the key features and user flow defined, I started to capture my ideas by sketching low-fidelity
                filters solutions and the sequence and content for the onboarding. </p>
        </div>
        <div class="diagram-default">
            <div class="img-col-2">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/ideation/sketch_1.jpg">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/ideation/sketch_2.jpg">
            </div>
        </div>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for i in (1..9) %}
            <div class="swiper-slide">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/ideation/wireframes_{{ i }}.jpg">
            </div>
            {% endfor%}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <linebreak></linebreak>
    <div class="heading">
        <h1>Prototyping</h1>
        <p>Creating solutions</p>
    </div>
    <div data-aos="fade-up" class="col-2">
        <div>
            <h2>High fidelity and my solution</h2>
            <div class="tools">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/figma_logo.svg" alt="miro logo"
                     class="tools-img-double">
                Tools: Figma
            </div>
            <p>
                My final solution is based on creating an onboarding to immerse users in this new feature, which is the
                possibility of customizing filters.
            </p>
            <p>Throughout the modal windows it is explained:</p>
            <p>
                What it is. <br/>
                What are the benefits for the user. <br/>
                Wow does it work.
            </p>
            <p>This flow focuses on only one part of the online purchase process. But it is the part that my research
                and analysis that has indicated as the most difficult and frustrating for the user.</p>
        </div>
        <div class="diagram-default">
            <video autoplay loop muted controls>
                <source src="{{ site.url }}/assets/video/{{ page.title }}/full_flow.mp4" type="video/mp4"/>
            </video>
        </div>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for i in (0..11) %}
            <div class="swiper-slide">
                <img src="{{ site.url }}/assets/images/{{ page.title }}/prototyping/screen_card_{{ i }}.jpg">
            </div>
            {% endfor%}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <linebreak></linebreak>
    <div class="heading">
        <h1>Take Away</h1>
    </div>
    <div class=col-2>
        <div class="summary-point">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/telescope.svg" class="icon">
            <h3>Project Overview</h3>
            <p>
                I consider this study case in an ongoing stage. I'm just finishing the Build stage, and I will conduct a
                series of further usability tests to continue refining and improving the design.
            </p>
            <p>
                My key takeaway was to trust the research and analysis process, listen to the users and don't be
                afraid to learn new insights you never know how you can apply to your work.
            </p>
        </div>
        <div class="list-paragragh">
            <img src="{{ site.url }}/assets/images/{{ page.title }}/milestone.svg" class="icon">
            <h3>Next Step</h3>
            <p>
                The next step for this project is to test and design and currently missing steps of the prototype: When
                does the user login?, How does this process work if the user is not logged in, or is not registered?
            </p>
        </div>
    </div>
    <div class="heading">
        <h3>Thank you for reading</h3>
    </div>
</div>
